body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
header {
    background-color: #1d2120;
    border-bottom: 5px solid #bbd43f;
    display: flex;
    justify-content: center;
}
nav{
    width: 60%;
    min-height: 12vh;
    justify-content: space-between;
}
header ul li {
    list-style-type: none;
    padding: 7px;
}
nav, nav ul {
    display: flex;
    align-items: center
}
nav ul {
    padding-left: 0;
}
.nav-ul li{
    border-right: 1px solid black;
}
.menu a {
    color: #919191;
    text-decoration: none;
}
.home {
    color: #bbd43f!important;
}
.menu {
    border-radius: 23px;
    background-color: #222625;
}
.main-img {
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, gray , white);
    border-image-slice: 1;
}
.logo {
    display: flex;
    color: white;
    flex-direction: column;
}
.logo span:nth-of-type(2) {
    padding-left: 1em;
    color: #6e735e;
}
main {
    flex-direction: column;
}
.first-section {
    background-color: #565656;
    min-height: 40vh;
    display: flex;
    justify-content: center;
}
.main-wrapper {
    display: flex;
    width: 60%;
}
.main-text input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: rgb(219,237,121);
    background: linear-gradient(180deg, rgba(219,237,121,1) 0%, rgba(199,221,78,1) 35%, rgba(151,164,76,1) 100%);
    font-size: 13px;
    font-weight: bold;
    border: none;
}
.main-img, .main-text {
    display: flex;
    align-self: center;
}
.main-text {
    flex-direction: column;
    padding-left: 1em;
}
.main-text h1 {
    color: white;
    font-size: 150%;
}
.main-text p {
    color: #959787;
    font-size: 100%;
    line-height: 25px;
}
.second-section {
    min-height: 60vh;
    display: flex;
    justify-content: center;
}
.left-part {
    width: 530px;
}
.left-part h3 {
    border-bottom: 2px solid #bbd43f;
}
.left-part h3 span {
    border-bottom: 4px solid #bbd43f;
}
.left-part p:nth-of-type(3) {
    border-left: 10px solid #bbd43f; 
    padding-left: 1em;
}
.right-part {
    width: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-left: 4em;
    color: #7F807B;
}
.right-part h3{
    font-size: 18px;
    background-color: #424242;
    color: white;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding-left: 1em;
    margin: 0;
}
.right-part article {
    background-color: #F2F2F2;
}
.right-part h6 {
    color: black;
}
.right-part p{
    font-size: 11px;
}
article {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 15vh;
    padding-left: 1em;
}
.text-part {
    display: flex;
    flex-direction: column;
}
.text-part h6, .text-part time, .text-part p {
    margin: 3px 0 0 13px;
}
footer {
    background-color: #1d2120;
    border-top: 5px solid #bbd43f;
    display: flex;
    justify-content: center;
}
footer ul li {
    list-style-type: none;
    font-size: 12px;
}
footer a {
    color: #4B4C45;;
    text-decoration: none;
}
footer ul {
    padding-left: 0;
}
footer ul li:first-child {
    font-size: 18px;
    font-weight: bold;
}
footer ul li {
    margin-top: 5px;
}
.final-wrapper {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.final-section-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-tools {
    color: #E0E7E8;
    border-radius: 23px;
    background-color: #242827;
}
.final-section-bottom span {
    color: #6B6D6C;
    margin-bottom: 5px;
}

